/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
/* Variables */
:root {
    --ny-blue: #003087;
    --ny-red: #e4002c;
    --ny-navy-blue: #0c2340;
    --ny-gray: #c4ced3;
    --dark: #333;
    --light: #f4f4f4;
}
/* General */
html, body {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

a {
    text-decoration: none;
}
/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-nav {
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.nav .nav-logo,
h1, h2, h3 {
    font-family: 'Sedgwick Ave Display', cursive;
}
/* Navigation */
.nav {
    background-color: var(--ny-navy-blue);
    padding: 8px;
}

.nav .nav-logo,
.nav .nav-link {
    display: inline-block;
    padding: 4px 8px;
    color: var(--ny-gray);
}

.nav .nav-logo {
    font-size: 3.2rem;
}

.nav .nav-logo-alt {
    color: var(--ny-red);
    font-size: 4.4rem;
}

.nav .nav-link {
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--ny-blue);
    border-radius: 10px;
    padding: 8px 16px;
}

.nav .nav-link:hover {
    background-color: var(--ny-gray);
    color: var(--ny-navy-blue);
}

/* Media Queries */
@media(min-width: 767px) {
    /* Utilities */
    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
    }
}