/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
/* Variables */
:root {
    --ny-blue: #003087;
    --ny-red: #e4002c;
    --ny-navy-blue: #0c2340;
    --ny-gray: #c4ced3;
    --dark: #333;
    --light: #f4f4f4;
}
/* General */
html, body {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

a {
    text-decoration: none;
}
/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 46px 12px;
}

.flex {
    display: flex;
}

.flex-nav,
.flex-article {
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.flex-header {
    align-items: center;
    justify-content: center;
}

.flex-sb {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.flex-gap-l {
    gap: 32px;
}

.btn {
    font-size: 1.8rem;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 10px;
    align-self: center;
}

.btn-header {
    margin: 0 auto;
    background-color: var(--ny-gray);
    color: var(--ny-navy-blue);
}

.btn-primary {
    background-color: var(--dark);
    color: var(--light);
}

.btn-primary:hover {
    border: 1px solid var(--dark);
    color: var(--dark);
    background-color: transparent;
}

.btn-header:hover {
    border: 1px solid var(--ny-gray);
    color: var(--ny-gray);
    font-weight: 600;
    background-color: transparent;
}

.nav .nav-logo,
h1, h2, h3 {
    font-family: 'Sedgwick Ave Display', cursive;
}

.section-header {
    text-align: center;
    margin-bottom: 24px;
}

.section-header-text {
    font-size: 3.2rem;
}

.section-text {
    font-size: 1.6rem;
    margin-bottom: 12px;
}
/* Navigation */
.nav {
    background-color: var(--ny-navy-blue);
    padding: 8px;
}

.nav .nav-logo,
.nav .nav-link {
    display: inline-block;
    padding: 4px 8px;
    color: var(--ny-gray);
}

.nav .nav-logo {
    font-size: 3.2rem;
}

.nav .nav-logo-alt {
    color: var(--ny-red);
    font-size: 4.4rem;
}

.nav .nav-link {
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px;
    padding: 8px 16px;
}

.nav .nav-link:hover,
.nav .nav-link-current {
    background-color: var(--ny-gray);
    color: var(--ny-navy-blue);
}

/* Header */
.header {
    background: linear-gradient(rgba(0, 48, 135, 1), rgba(0, 0, 0, 0)), url('../images/hero-img-min.jpg') no-repeat center center/cover;
    height: 100vh;
    text-align: center;
    color: var(--ny-gray);
    padding: 12px 24px;
    border-bottom: 1px solid var(--ny-gray);
}

.header-title {
    font-size: 12rem;
}

.header-title-alt {
    font-size: 16rem;
    color: var(--ny-red);
}

.header-quote {
    font-size: 2rem;
    font-style: italic;
}

.header-quote-text::before,
.header-quote-text::after {
    content: "\"";
}

/* About Section */
.about {
    position: relative;
}

.about-left {
    padding: 24px;
    border: 1px solid var(--ny-gray);
}

.about-left-img {
    max-width: 100%;
    height: 100%;
}

.img-caption-text {
    display: none;
}

.about-info{
    padding: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
/* Media Queries */
@media(min-width: 767px) {
    /* Utilities */
    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    /* About Section */
    .about-left,
    .about-right {
        flex: 1;
    }

    .img-caption-text {
        display: block;
        margin-top: 8px;
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
    }

    .img-caption-text::before,
    .img-caption-text::after {
        content: "\"";
    }

    .about-info {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
    }
}