/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Variables */
:root {
    --dark: #333;
    --light: #f4f4f4;
}
/* General */
html, body {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

a {
    text-decoration: none;
    color: var(--dark);
}

img {
    display: block;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 46px 12px;
}

.flex {
    display: flex;
}

.flex-nav,
.flex-article {
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.flex-header {
    align-items: center;
    justify-content: center;
}

.flex-sb {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.flex-gap-l {
    gap: 32px;
}

.btn {
    font-size: 1.8rem;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 10px;
    align-self: center;
}

.btn-header {
    margin: 0 auto;
}

.btn-primary {

}

.btn-primary:hover {

}

.btn-header:hover {

}

.nav .nav-logo,
h1, h2, h3 {
    font-family: 'Righteous', cursive;
}

.section-header {
    text-align: center;
    margin-bottom: 24px;
}

.section-header-text {
    font-size: 3.2rem;
}

.section-text {
    font-size: 1.6rem;
    margin-bottom: 12px;
}
/* Navigation */
.nav {
    padding: 8px;
}

.nav .nav-logo,
.nav .nav-link {
    display: inline-block;
    padding: 4px 8px;
}

.nav .nav-logo {
    font-size: 3.2rem;
}

.nav .nav-logo-alt {
    font-size: 4rem;
}

.nav .nav-link {
    font-size: 1.6rem;
    padding: 8px 16px;
}

.nav .nav-link:hover,
.nav .nav-link-current {
    font-weight: 600;
    border-bottom: 2px solid var(--dark);
}

/* Header */
.header {
    /* background: url('../images/hero-img-min.jpg') no-repeat center/cover; */
    height: 100vh;
    text-align: center;
    padding: 12px 24px;
    border-bottom: 1px solid var(--ny-gray);
}

.header-title {
    font-size: 12rem;
}

.header-title-alt {
    font-size: 16rem;
}

.header-quote {
    font-size: 2rem;
    font-style: italic;
}

.header-quote-text::before,
.header-quote-text::after {
    content: "\"";
}

/* About Section */
.about {
    position: relative;
}

.about-left {
    padding: 24px;
}

.about-left-img,
#image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 100%;
}

.img-caption-text {
    display: none;
}

.about-info{
    padding: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

/* Footer */
footer {
    text-align: center;
    padding-block: 16px;
}

footer .footer-text {
    font-size: 16px;
}
/* Media Queries */
@media(min-width: 767px) {
    /* Utilities */
    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    /* About Section */
    .about-left,
    .about-right {
        flex: 1;
    }

    .img-caption-text {
        display: block;
        margin-top: 8px;
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
    }

    .img-caption-text::before,
    .img-caption-text::after {
        content: "\"";
    }

    .about-info {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
    }
}