// Buttons
.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px;
    transition: var(--transition-speed-0);

    &-primary {
        background: var(--dark);
        color: var(--light);

        &:hover {
            background: #444;
            transform: scale(0.95);
        }
    }
}