// Images
.img {
    display: block;
    max-width: 100%;
    height: auto;

    &-header {
        width: 80%;
    }

    &-about {
        @media(max-width: 767px) {
            display: none;
        }
        
        &-alt {
            filter: grayscale(1);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

            @media(max-width: 767px) {
                display: none;
            }
        }
    }
}