// Images
.img {
    display: block;
    max-width: 100%;
    height: auto;

    &-header {
        width: 80%;
    }

    &-about {
        @media(max-width: 767px) {
            display: none;
        }

        &-alt {
            &-right {
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            }
            &-left {
                clip-path: polygon(0 0, 75% 1%, 100% 100%, 25% 100%);
            }

            @media(max-width: 767px) {
                display: none;
            }
        }
    }
}