// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

// General Styling
html, body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
}

a {
    text-decoration: none;
    color: var(--dark);
}

h1, h2, h3 {
    font-family: 'Righteous', cursive;
}

// Icons
.icon {
    &-heart {
        color: #c92a2a;
    }
}

// Headers
.h {
    &-main {
        font-size: 12rem;
    }
}

// Quotes
.quote {
    &::before,
    &::after {
        content: '"';
    }
    &-main {
        font-size: 1.8rem;
        font-style: italic;
        font-weight: 300;
    }
}

// Footer Text
.footer {
    &-text {
        font-size: 1.6rem;
    }
}